@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), url('/assets/fonts/poppins-regular-webfont.woff2') format('woff2');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins-bold'), url('/assets/fonts/poppins-bold-webfont.woff2') format('woff2');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'Playfair';
  font-style: normal;
  font-weight: 700;
  src: local('Playfair'), url('/assets/fonts/playfairdisplay-bold-webfont.woff2') format('woff2');
  unicode-range: U+0020-007F;
}
