// Colors
$white: #ffffff;
$yellow: #FFF56A;
$navy: #263951;
$gray: #D7DADF;
$pink: #FF7B7B;

// Media queries
$mobile-small: 320px;// iPhone 5 and older
$mobile-large: 568px;
$tablet: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;
